
body {
    background-color: rgb(160, 250, 250);
}

.videoplayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    text-align: center;
}

.play {
    background-color: rgb(243, 253, 152);
    width: 30px;
}

.pause {
    background-color: rgb(243, 253, 152);
    width: 30px;
}

.timing {

    width: 150px;
}

.rewind {
    color: rgb(5, 90, 201);
    background-color: rgb(243, 253, 152);
    border-radius: 1ch;
    border: 2px solid;
}

.forward {
    color: rgb(5, 90, 201);
    background-color: rgb(243, 253, 152);
    border-radius: 1ch;
    border: 2px solid;
}

.volume {
    background-color: rgb(243, 253, 152);
}

.vidbutton {
    color: aliceblue;
    background-color: rgb(5, 90, 201);
    height: 25px;
    width: 70px;
    border-radius: 1ch;
    border: 2px solid;

}

.vidbutton:hover {
    background-color: #fa4949;
  }
